.box{
    width: 500px;
    height: 500px;
    background-color: rgba(199, 158, 158, 0.541);
    font-family: Boldonse;
    font-size: 50px;
    /* border-radius: 100%; */
    /* box-shadow: 20px -20px 55px 10px black; */
    /* text-shadow: 25px -10px 20px black; */
    margin: 100px;
    border: 3px black solid;
    padding: 50px;
    text-align: center;
}